@font-face {
  font-family: 'Cuanky'; /* Name you'll use to reference the font */
  src: url('./cuanky-font/CuankyDemoRegular-x3eyR.otf') format('truetype'); /* Path relative to the public directory */
  font-weight: normal;
  font-style: normal;
}